@page "{id:int}"
@model Pages.Medicine.DetailsModel
@{
    ViewData["Title"] = "Medicine Details";
}

<h1>Medicine Details</h1>
<div>
    <h4>Medicine</h4>
    <dl class="row">
        <dt class="col-sm-2">Trade Name</dt>
        <dd class="col-sm-10">@Model.Medicine.TradeName</dd>
        <dt class="col-sm-2">Active Substances</dt>
        <dd class="col-sm-10">@string.Join(", ", Model.Medicine.ActiveSubstances ?? new List<string>())</dd>
        <dt class="col-sm-2">Dosage Form</dt>
        <dd class="col-sm-10">@Model.Medicine.DosageForm</dd>
        <dt class="col-sm-2">Strength</dt>
        <dd class="col-sm-10">@Model.Medicine.Strength</dd>
    </dl>
    <a asp-page="Edit" asp-route-id="@Model.Medicine.MedicineID" class="btn btn-warning">Edit</a>
    <a asp-page="Index" class="btn btn-secondary">Back to List</a>
</div>
